selenium~=4.23.1
pytest~=8.3.2
webdriver-manager
pytest-xdist
pytest-html
openpyxl~=3.1.5
allure-pytest
pyodbc~=5.1.0
pandas~=2.2.2
pytest-dependency
jenkins
cryptography~=43.0.0
Jinja2~=3.1.4
PyAutoGUI~=0.9.54
python-jenkins~=1.8.2